[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/KatsuragiCSL/hugo-PaperMod.git
	branch = master
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/KatsuragiCSL/hugo-embed-pdf-shortcode.git
